[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc
[submodule "third_party/SPIRV-Tools"]
	path = third_party/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "third_party/SPIRV-Headers"]
	path = third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "third_party/glad"]
	path = third_party/glad
	url = https://github.com/Dav1dde/glad
